In [2]:
#Install the needed dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [4]:
#Load in the csv's
ride_data_path = os.path.join('Data', 'ride_data.csv')
city_data_path = os.path.join('Data', 'city_data.csv')

ride_data_df = pd.read_csv(ride_data_path)
city_data_df = pd.read_csv(city_data_path)

In [9]:
combined_data_df = pd.merge(ride_data_df, city_data_df, how='outer', on='city')
combined_data_df.head()

       city                 date   fare        ride_id  driver_count   type
0  Sarabury  2016-01-16 13:49:27  38.35  5403689035038            46  Urban
1  Sarabury  2016-07-23 07:42:44  21.76  7546681945283            46  Urban
2  Sarabury  2016-04-02 04:32:25  38.03  4932495851866            46  Urban
3  Sarabury  2016-06-23 05:03:41  26.82  6711035373406            46  Urban
4  Sarabury  2016-09-30 12:48:34  30.30  6388737278232            46  Urban

In [20]:
city_average = combined_data_df.groupby(["city"])
 
ave_fare = city_average["fare"].mean()

rides_city = combined_data_df['city'].value_counts()

Port James              64
Swansonbury             34
Port Johnstad           34
South Louis             32
Arnoldview              31
Jacobfort               31
West Peter              31
Alvarezhaven            31
Williamshire            31
West Brandy             30
Stewartview             30
West Dawnfurt           29
West Oscar              29
Carrollfort             29
Kelseyland              28
Lisaville               28
East Erin               28
New David               28
New Andreamouth         28
Sarabury                27
Edwardsbury             27
Smithhaven              27
Port Samantha           27
Sandymouth              27
Kimberlychester         27
Alyssaberg              26
Torresshire             26
Nguyenbury              26
Spencertown             26
Lake Jennaton           25
                        ..
South Joseph            12
Clarkstad               12
West Evan               12
Jasonfort               12
New Michelleberg        11
Conwaymouth             11
Williamchester          11
East Leslie             11
Carrollbury             10
Floresberg              10
North Tracyfort         10
Kennethburgh            10
North Whitney           10
East Stephen            10
Hernandezshire           9
Anitamouth               9
Martinmouth              9
North Tara               9
Erikport                 8
East Troybury            7
West Kevintown           7
Kinghaven                6
Shelbyhaven              6
Jacksonfort              6
South Elizabethmouth     5
Stevensport              5
Matthewside              4
New Johnbury             4
Horneland                4
Manuelchester            1
Name: city, Length: 125, dtype: int64

In [23]:
city_type = combined_data_df.groupby(["city","type"])